.home-header {
  display: flex;
  justify-content: flex-start;
  padding: 2em;
  gap: 1rem;
  align-items: center;
}

.home-logo {
  display: flex;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

/* This will be a separate style when the article component is made */
.home-article {
  background-color: grey;
}
